@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

address {
  font-style: normal;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #2a2a2a;
}

section {
  padding-inline: 10%;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* ------------------------- */
[class*=__container] {
  max-width: 82.5rem;
  padding-inline: 0.9375rem;
  margin: 0 auto;
}

/* ------------------------ */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(42, 42, 42, 0.95);
  padding-inline: 10%;
  padding-block: 1.875rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 0.125rem solid #cccccc;
}
@media (max-width: 92.5em) {
  .header {
    padding-inline: 4%;
  }
}
.header__logo {
  font-size: clamp(1.375rem, -0.181rem + 7.78vw, 2.25rem);
  letter-spacing: 0.0625rem;
  font-weight: 500;
  color: #fff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}
.header__logo::after {
  content: "";
  height: 0.125rem;
  width: 0;
  left: 0;
  top: 2.8125rem;
  position: absolute;
  background-color: #ff4d05;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .header__logo:hover::after {
    width: 100%;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}
@media (max-width: 52.5em) {
  .menu {
    position: absolute;
    top: 5.75rem;
    left: 0;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(42, 42, 42, 0.9);
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.menu.open {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
.menu__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}
.menu__item::after {
  content: "";
  height: 0.125rem;
  width: 0;
  left: 0;
  top: 1.375rem;
  position: absolute;
  background-color: #ff4d05;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .menu__item:hover::after {
    width: 100%;
  }
}
.menu__link {
  color: #cccccc;
  font-size: 1.125rem;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}
.menu__link:active {
  color: #ff4d05;
}
@media (max-width: 52.5em) {
  .menu__link {
    display: block;
    padding: 1.5625rem;
    font-size: 1.125rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
    border-bottom: 0.0625rem solid #cccccc;
  }
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../img/bg/robo.avif");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.home::before {
  content: "";
  background-color: rgba(42, 42, 42, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 92.5em) {
  .home {
    padding-inline: 4%;
  }
}
.home__content {
  z-index: 2;
}
.home__title {
  font-size: clamp(3rem, 1.824rem + 5.88vw, 4.25rem);
  font-weight: 700;
  color: #fff;
  line-height: 1.1;
  margin-bottom: 1.25rem;
}
.home__text {
  color: #fff;
  font-size: clamp(1.75rem, 0.574rem + 5.88vw, 3rem);
  font-weight: 500;
  line-height: 1.1;
}
.home__text span {
  color: #ff4d05;
}

.burger {
  display: none;
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  top: 0.3125rem;
}
@media (max-width: 52.5em) {
  .burger {
    display: inline-block;
  }
}

.burger__line {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 0.1875rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.burger__line:nth-child(1) {
  top: 0;
}
.burger__line:nth-child(2) {
  top: 0.625rem;
}
.burger__line:nth-child(3) {
  top: 0.625rem;
}
.burger__line:nth-child(4) {
  top: 1.25rem;
}

.menu-x .burger__line:nth-child(1) {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}
.menu-x .burger__line:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu-x .burger__line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu-x .burger__line:nth-child(4) {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  padding-block: 6.25rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 92.5em) {
  .about {
    padding-inline: 4%;
  }
}
@media (max-width: 57.5em) {
  .about {
    grid-template-columns: 1fr;
    padding-block: 3.125rem;
  }
}
.about__img {
  -webkit-filter: blur(0.125rem);
          filter: blur(0.125rem);
}
@media (max-width: 57.5em) {
  .about__img {
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.about__img img {
  max-width: 33.125rem;
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
}
@media (max-width: 57.5em) {
  .about__img img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}
.about__title {
  font-size: clamp(1.625rem, 1.453rem + 0.86vw, 2.25rem);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1.875rem;
}
@media (max-width: 27.5em) {
  .about__title {
    text-align: center;
  }
}
.about__subtitle {
  font-size: clamp(1rem, 1.022rem + 0.52vw, 1.375rem);
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin-bottom: 0.9375rem;
}
.about__text {
  font-size: clamp(1.125rem, 0.772rem + 0.52vw, 1.375rem);
  font-weight: 400;
  color: #cccccc;
  line-height: 1.2;
}
.about__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.services {
  padding-block: 6.25rem;
  background-color: #202020;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 92.5em) {
  .services {
    padding-inline: 4%;
  }
}
@media (max-width: 57.5em) {
  .services {
    padding-block: 3.125rem;
  }
}
.services__title {
  font-weight: 700;
  font-size: clamp(1.625rem, 1.453rem + 0.86vw, 2.25rem);
  line-height: 1;
  margin-bottom: 1.875rem;
  text-align: center;
}
.services__content {
  background-color: #2a2a2a;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(auto, auto));
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
  padding: 1.25rem;
  gap: 1.5625rem;
}
.services__text {
  color: #cccccc;
  font-size: clamp(1.125rem, 0.772rem + 0.52vw, 1.375rem);
  font-weight: 400;
  line-height: 1.2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio {
  padding-block: 6.25rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 92.5em) {
  .portfolio {
    padding-inline: 4%;
  }
}
@media (max-width: 57.5em) {
  .portfolio {
    padding-block: 3.125rem;
  }
}
.portfolio__title {
  font-weight: 700;
  font-size: clamp(1.625rem, 1.453rem + 0.86vw, 2.25rem);
  line-height: 1;
  margin-bottom: 1.875rem;
  text-align: center;
}
.portfolio__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
@media (max-width: 92.5em) {
  .portfolio__content {
    grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  }
}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  cursor: pointer;
}
.row:hover .layer {
  height: 100%;
}
.row:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.row img {
  width: 100%;
  border-radius: 0.5rem;
  display: block;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.layer {
  width: 100%;
  height: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(#2a2a2a));
  background: linear-gradient(rgba(0, 0, 0, 0.7), #2a2a2a);
  position: absolute;
  border-radius: 0.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0rem 1.25rem;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.layer h3 {
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.layer p {
  color: #cccccc;
  font-size: 1.125rem;
  line-height: 1.1;
}

.contact {
  background-color: #202020;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  padding-block: 6.25rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 100%;
}
@media (max-width: 92.5em) {
  .contact {
    padding-inline: 4%;
  }
}
@media (max-width: 57.5em) {
  .contact {
    grid-template-columns: 1fr;
    padding-block: 3.125rem;
  }
}
.contact__title {
  font-size: clamp(1.625rem, 1.453rem + 0.86vw, 2.25rem);
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 1;
  margin-bottom: 1.875rem;
}
@media (max-width: 27.5em) {
  .contact__title {
    text-align: center;
  }
}
.contact__subtitle {
  color: #fff;
  margin-bottom: 2.5rem;
  font-size: clamp(1rem, 1.022rem + 0.52vw, 1.375rem);
  font-weight: 500;
  line-height: 1.1;
}
@media (max-width: 27.5em) {
  .contact__subtitle {
    text-align: center;
  }
}
.contact__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.contact__item a {
  color: #cccccc;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contact__item a:hover {
  color: #ff4d05;
  translate: 0.3125rem -0.125rem;
}
.contact__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 27.5em) {
  .contact__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.contact__icons i {
  height: 2.8125rem;
  width: 2.8125rem;
  background: #ff4d05;
  color: #fff;
  font-size: 2.25rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contact__icons i:hover {
  background: #fff;
  color: #ff4d05;
  scale: 1.1;
}
.form input, .form textarea {
  width: 100%;
  padding: 0.875rem;
  background: #2a2a2a;
  color: #fff;
  border: none;
  outline: none;
  font-size: 0.9375rem;
  border-radius: 0.5rem;
  margin-bottom: 0.625rem;
}
.form textarea {
  resize: none;
  height: 15rem;
  margin-bottom: 0.9375rem;
}
@media (max-width: 57.5em) {
  .form textarea {
    height: 7.5rem;
  }
}

.submit {
  font-size: 1rem;
  font-weight: 700;
  background: #ff4d05;
  color: #fff;
  padding: 0.9375rem 2.5rem;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 27.5em) {
  .submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
}
.submit:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
  background: #fff;
  color: #ff4d05;
}

.footer {
  padding-block: 0.625rem;
  background: #2a2a2a;
  padding-inline: 10%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 1480px) {
  .footer {
    padding-inline: 4%;
  }
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0.9375rem 0rem;
}
.footer__text {
  color: #cccccc;
  font-size: 0.6875rem;
}
.footer__link-home {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  right: 10%;
  bottom: 0.625rem;
}
@media (max-width: 92.5em) {
  .footer__link-home {
    right: 4%;
  }
}
.footer__link-home i {
  height: 2.8125rem;
  width: 2.8125rem;
  background: #ff4d05;
  color: #fff;
  font-size: 2.25rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.5;
}
.footer__link-home i:hover {
  color: #fff;
  scale: 1.1;
  opacity: 1;
}